
.content {
  background: var(--background-orange);
  width: calc(100% - 40px);
  height: 100%;
  position: absolute;
  padding: 0 20px;
  margin-left: 40px;
  top: 0;
}

.header {
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #0003;
  width: calc(100% - 80px);
  position: fixed;
}

.pageBody {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-top: 4px;
    padding: 18px 10px;
    font-size: 28px;
  }

  .pageBody {
    margin-top: 80px;
  }
}