.Header {
    width: 100%;
    height: 40px;
    background: #33a853;
    top: 0;
    position: fixed;
    z-index: 10;
}

.Header img.Logo {
    float: left;
    height: 20px;
    margin: 10px 12px;
}

.Header .AddNewButtonHolder {
    float: right;
    width: 50%;
}

.Header .AddNewButtonHolder .Button {
    float: right;
    margin: 9px;
}


@media only screen and (min-width: 720px) {

    .Header {
        height: 80px;
    }

    .Header img.Logo {
        height: 40px;
        margin: 20px 30px;
    }

    /* .Header .AddNewButtonHolder {
    display: none;
  } */

}