.Form {
  max-width: 510px;
}

.FormRow {
  width: 100%;
  margin: 24px 0;
  height: auto;
  min-height: 68px;
  display: flex;
  flex-wrap: wrap;
}

/* Label */

.FormRow .LabelHolder {
  width: 100%;
  text-align: right;
}

.FormRow.IconRow .LabelHolder {
  width: 32px;
}

.FormRow .LabelHolder .Icon {
  width: 22px;
  fill: #999;
  margin: 12px 8px;
}

.FormRow .LabelHolder .Label {
  color: #999;
  padding: 18px 8px 0;
  font-size: 14px;
  text-align: left;
}

/* InputHolder */

.FormRow .InputHolder {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.FormRow.IconRow .InputHolder {
  width: calc(100% - 32px);
}

.FormRow .InputHolder.InputHolderFullWidth {
  width: 100%;
}

/* Detail */

.Detail {
  width: 100%;
  display: flex;
  height: 24px;
  font-size: 12px;
}

.Detail .Message {
  width: calc(100% - 138px);
  margin-left: 38px;
}

.Detail .Message span.Error {
  color: #f00;
}

.Detail .Link {
  width: 100px;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.Detail .Link span {
  cursor: pointer;
}

.Detail .Link span:hover {
  color: #888;
  text-decoration: underline;
}

/* Error */

.FormRow.Error .LabelHolder .Icon {
  fill: #f00;
}

.FormRow.Error .LabelHolder .Label {
  color: #f00;
}

.FormRow.Error .InputHolder .Input {
  color: #f00;
  border-bottom: 2px solid #f00;
}

/* Input */

.Input {
  font-size: 14px;
  width: calc(100% - 16px);
  padding: 8px;
  border-bottom: 1px solid #0002;
  margin: 6px auto;
}

/* TODO: move this or get rid of it even Message */

.FormRow .FormMessage {
  color: #24833d;
  font-weight: bold;
}


@media only screen and (min-width: 768px) {
  .Form {}

  .FormRow {}

  /* Label */

  .FormRow .LabelHolder {
    width: 130px;
    height: 50px;
  }

  .FormRow.IconRow .LabelHolder {}

  .FormRow .LabelHolder .Icon {}

  .FormRow .LabelHolder .Label {
    text-align: center;
  }

  /* InputHolder */

  .FormRow .InputHolder {}

  .FormRow.IconRow .InputHolder {}

  .FormRow .InputHolder.InputHolderFullWidth {}

  /* Detail */

  .Detail {}

  .Detail .Message {}

  .Detail .Message span.Error {}

  .Detail .Link {}

  .Detail .Link span {}

  .Detail .Link span:hover {}

  /* Error */

  .FormRow.Error .LabelHolder .Icon {}

  .FormRow.Error .LabelHolder .Label {}

  .FormRow.Error .InputHolder .Input {}

  /* Input */

  .Input {}

  /* TODO: move this or get rid of it even Message */

  .FormRow .FormMessage {}

}