.Form {
  min-width: 320px;
  max-width: 510px;
}

.FormRow {
  width: 100%;
  margin: 24px 0;
  height: auto;
  min-height: 68px;
  display: flex;
  flex-wrap: wrap;
}

/* Label */

.FormRow .LabelHolder {
  width: 130px;
  text-align: right;
  height: 50px;
}

.FormRow .LabelHolder .Icon {
  width: 22px;
  fill: #999;
  margin: 12px 8px;
}

.FormRow .LabelHolder .Label {
  color: #999;
  padding: 18px 0 0;
  font-size: 12px;
  text-align: center;
}

/* InputHolder */

.FormRow .InputHolder {
  width: calc(100% - 130px);
  display: flex;
}

.FormRow .InputHolder.InputHolderFullWidth {
  width: 100%;
}

/* Detail */

.Detail {
  width: 100%;
  display: flex;
  height: 24px;
  font-size: 12px;
}

.Detail .Error {
  width: calc(100% - 138px);
  color: #f00;
  margin-left: 38px;
}

.Detail .Link {
  width: 100px;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.Detail .Link span {
  cursor: pointer;
}

.Detail .Link span:hover {
  color: #888;
  text-decoration: underline;
}

/* Error */

.FormRow.Error .LabelHolder .Icon {
  fill: #f00;
}

.FormRow.Error .LabelHolder .Label {
  color: #f00;
}

.FormRow.Error .InputHolder .Input {
  color: #f00;
  border-bottom: 2px solid #f00;
}

/* Input */

.Input {
  font-size: 14px;
  width: calc(100% - 16px);
  padding: 8px;
  border-bottom: 1px solid #0002;
  margin: 6px auto;
}

/* TODO: move this or get rid of it even Message */

.FormRow .FormMessage {
  color: #24833d;
  font-weight: bold;
}
