.Slideshow {
  width: 100%;
  /* TODO: this height is wrong for mobile widths, make it programatic */
  height: 280px;
  position: relative;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  11.11% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  44.44% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}



.Slideshow img {
  opacity: 0;
  animation-name: fade;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  position: absolute;
  width: 100%;
  max-height: 280px;
}

.Slideshow img:nth-child(1) {
  animation-delay: 0s;
}

.Slideshow img:nth-child(2) {
  animation-delay: 3s;
}

.Slideshow img:nth-child(3) {
  animation-delay: 6s;
}

.title {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.body {
  text-align: center;
  width: 70%;
  margin-left: 15%;
}