.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
  min-height: 54px;
  max-height: 54px;
  height: 54px;
  border-bottom: 1px solid #0001;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s;

  &.open {
    height: auto;
    max-height: 200px;
  }

  .col {
    margin: 0;
    height: 54px;

    .cell {
      padding: 4px;
      width: 100%;
      height: 100%;
    }
  }

  .background {
    display: none;
  }
}

// display: block;
// background: #daeedd;
// height: 100%;