
/* Layout */

.Row {
  float: left;
  margin-bottom: 6px;
  min-height: 54px;
  height: 54px;
  border-bottom: 1px solid #eee;
  width: 100%;
  overflow: hidden;
}

.Row.Open {
	height: 148px;
  border-radius: 4px;
}

.Col {
  float: left;
  margin: 0;
  height: 54px;
}

/* ToggleOpen */

.ColToggleOpen {
  width: 54px;
}

.Toggle {
  width: 22px;
  height: 22px;
  margin: 16px;
  background: var(--dark-green);
  border-radius: 11px;
  cursor: pointer;
}

.Arrow {
  position: absolute;
  height: 6px; 
  width: 6px; 
  margin-top: 5px;
  margin-left: 6px;
  border-bottom:  solid 4px #FFF; 
  border-left:  solid 4px #FFF; 
  background: none; 
  transform: rotate(-45deg) scale(.8);
  transition: transform .1s ease, opacity .1s ease;
  transform-origin: center center;
}

.Arrow.Open {
  transform: rotate(135deg) scale(.8);
  margin-top: 7px;
}

/* Background */

.Background {
  display: none;
}

@media only screen and (min-width: 768px) {

  .Row {
    border-bottom: none;
  }

  /* Toggle Open */

  .ColToggleOpen {
    display: none;
  }

  /* Background */

  .Background {
    display: block;
    background: #daeedd;
    height: 100%;
  }
}