.button {
  width: 184px;
  max-width: 184px;
  padding: 14px 0;
  background: var(--dark-green);
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
  margin: 7px;
  cursor: pointer;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  display: flex;
}

.button:focus,
.button:hover {
  background: var(--light-green);
}

.button.orange {
  background: var(--dark-orange);
}

.button.orange:hover {
  background: var(--light-orange);
}

.button.dark-green {
  background: var(--dark-green);
}

.button.red {
  background: #d11e1e;
}

.button.blue {
  background: #2e7fb6;
}

.button.grey,
.button.gray {
  background: #999;
}

/* button Content */

.button .buttonIconHolder {
  width: 22px;
  margin: -4px 0;
}

.button .buttonIconHolder .buttonIcon {
  width: 22px;
  fill: #FFF;
}

.button .label {
  color: #FFF;
  width: 100%;
  text-align: center;
  margin: -1px 0;
}