
.LoadingBarHolder {
  height: 4px;
  position: absolute;
  z-index: 10;
}

.LoadingBarHolder .LoadingBar {
  margin: 0 0;
}

.LoadingBarHolder .LoadingBar.NoAnimation {
  -webkit-transition: none;
  transition: none;
}

.LoadingBarHolder .LoadingForm.Disabled {
  opacity: .8;
  pointer-events: none;
}

.LoadingBarHolder .LoadingBar.green {
  background: var(--light-green);
}

.LoadingBarHolder .LoadingBar.white {
  background: #FFF;
}