.SplashOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark-green);
    z-index: 100;
}

.Visible {
    opacity: 1;
    pointer-events: all;
}

.Hidden {
    opacity: 0;
    pointer-events: none;
}