.rowButton {
  border-bottom: none;

  .colButton {
    width: 100%;

    .button {
      margin: 7px auto;
    }
  }
}


.colToggleOpen {
  width: 54px;

  .toggle {
    width: 22px;
    height: 22px;
    margin: 16px;
    background: #23833d;
    border-radius: 11px;
    cursor: pointer;

    .arrow {
      position: absolute;
      height: 10px;
      width: 10px;
      margin-top: 5px;
      margin-left: 6px;
      border-bottom: 4px solid #fff;
      border-left: 4px solid #fff;
      background: none;
      transform: rotate(-45deg) scale(.8);
      transition: transform .1s ease, opacity .1s ease;
      transform-origin: center center;

      &.open {
        transform: rotate(135deg) scale(.8);
        margin-top: 7px;
      }
    }
  }
}

.colChinese {
  width: 50%;

  .cellChinese {
    font-size: 22px;
  }
}

.colConfidence {
  width: calc(50% - 54px);

  .confidenceBar {
    width: 85%;
    height: 10px;
    margin: 20px 5px;
    border-radius: 5px;
    float: right;
  }
}

.colPinyin {
  margin-left: 54px !important;
  height: 24px !important;
  width: calc(100% - 54px);
}

.colEnglish {
  margin-left: 54px !important;
  width: calc(100% - 54px);
  height: auto !important;
}

.pack {}

.colOptions {
  margin-left: 54px !important;
  width: calc(100% - 54px);
}

@media only screen and (min-width: 768px) {

  .confidence {}

  .chinese {}

  .pack {}

  .pinyin {}

  .english {}
}